/* line 1, ../assets/bootstrap-sass-3.2.0/assets/stylesheets/trumpetstyle.scss */
body {
  color: #fad1a3;
  text-shadow: 4px 4px 4px #321709;
}

/* line 6, ../assets/bootstrap-sass-3.2.0/assets/stylesheets/trumpetstyle.scss */
.cover-heading {
  font-size: 3em;
  /* 	background: rgba(0,0,0,.25); */
}

/* line 11, ../assets/bootstrap-sass-3.2.0/assets/stylesheets/trumpetstyle.scss */
.welcomeText {
  background: rgba(0, 0, 0, 0.25);
  padding: 10px;
  border-radius: 10px;
}

/* line 18, ../assets/bootstrap-sass-3.2.0/assets/stylesheets/trumpetstyle.scss */
li {
  background: rgba(0, 0, 0, 0.25);
  padding: 4px;
  border-radius: 10px;
}

/* line 27, ../assets/bootstrap-sass-3.2.0/assets/stylesheets/trumpetstyle.scss */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #3d170b;
  text-shadow: none;
  /* Prevent inheritence from `body` */
  background-color: #fbb6fb;
  border: 1px solid #fff;
  margin-top: 2%;
}
